<h1>Listing ads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>File</th>
    <th>Position</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Attachable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.title %></td>
    <td><%= ad.type %></td>
    <td><%= ad.file %></td>
    <td><%= ad.position %></td>
    <td><%= ad.description %></td>
    <td><%= ad.start_date %></td>
    <td><%= ad.end_date %></td>
    <td><%= ad.attachable %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', new_ad_path %>
