<body onload="setupZoom();">

  <% if @artist_search %>
      
      <% @artist_search.each do |artist| %>
      <div class="container">
        <div class="content">

          <h1><%= artist.fullname %></h1></br>
        
          Alias: <%= artist.alias %></br>
      
          Nationality: <%= artist.nationality %></br>
      
          Birthday: <%= artist.birthday %></br>  
        
          <p><%= simple_format artist.description %></p>

        </div>
      </div>

      <aside class="sidebar">  
        <p><%= render 'searches/searchpop' %></p></br>
        <p><%= render 'layouts/artists' %></p>
      </aside>

      <aside class="rightbar">
        <div class="images">
          <% artist.arts.each do |art| %>
          <li>
            <div class="img"><a href="<%= art.file_url.to_s %>" title="<%= art.title %></br><%= art.subline %>, <%= art.width %> x <%= art.height %>, <%= art.date_of_origin %>"><img src="<%= art.file_url if art.file? %>" width="152" title="<%= art.title %>"/></a></div>
          </li>
          <% end %>
        </div>
      </aside>
      <% end %>

  <% else %>

      <div class="container">
        <div class="content">

          <h1><%= @artist.fullname %></h1></br>
            
          Alias: <%= @artist.alias %></br>
            
          Nationality: <%= @artist.nationality %></br>
            
          Birthday: <%= @artist.birthday %></br>  
            
          <p><%= simple_format @artist.description %></p>

        </div>
      </div>

<%= render 'layouts/sidebar' %>

      <aside class="rightbar">
        <div class="images">
          <% @artist.arts.each do |art| %>
            <li>
              <div class="img"><a href="<%= art.file_url.to_s %>" title="<%= art.title %></br><%= art.subline %>, <%= art.width %> x <%= art.height %>, <%= art.date_of_origin %>"><img src="<%= art.file_url if art.file? %>" width="152" title="<%= art.title %>"/></a></div>
            </li>
          <% end %>
        </div>
      </aside>

 <% end %>

</body>
