<div class="container">
  <div class="content">  
    <strong><%= @artist.fullname %></strong>
    
      Alias: <%= @artist.alias %>
    
      Nationality: <%= @artist.nationality %>
    
      Birthday: <%= @artist.birthday %>
    
    
    <%= @artist.description %>
  </div>
</div>

<aside class="sidebar">
  <%= render 'artists' %>
</aside>

<aside class="rightbar">
  <% @artist.arts.each do |art| %>
    <div class="image"><%= image_tag art.file_url.to_s %></div>
  <% end %>
</aside>
