
<div class="content">
  <%= render 'artists' %>
  <p>
    <h3><%= @artist.fullname %></h3>
  </p>
  
  <p>
    Alias: <%= @artist.alias %>
  
    Nationality: <%= @artist.nationality %>
  
    Birthday: <%= @artist.birthday %>
  </p>
  
  <p>
    <%= @artist.description %>
  </p>
</div>

<div class="rightbar">
  <% @artist.arts.each do |art| %>
    <div class="image"><%= image_tag art.file_url.to_s %></div>
  <% end %>
  
</div>
