<body onload="setupZoom();">

  <% if @artist_search %>
      
      <% @artist_search.each do |artist| %>
      <div class="container">
  <div class="content">

  Best Informations

  <h1><%= artist.fullname %></h1>
    <%= artist.nationality.name if artist.nationality_id? %> Born: <%= artist.birthday if artist.birthday? %></br>

    <%= artist.description if artist.description? %></br>

    <% unless artist.gallery.blank? %>
      <h2><%= artist.gallery.name if artist.gallery_id? %></h2>
      <%= artist.gallery.address %>
    <% end %>

    <% if artist.events.count > 0 %>
      <% artist.events.each do |event| %> 
        <h2><%= event.name %></h2>
        <%= event.start_date.to_s(:long) %> - <%= event.end_date.to_s(:long) %><br>
        <%= event.city %><br>
        <%= link_to event.url, url_with_protocol(event.url) %>
      <% end %>
    <% end %>

  </div>
</div>

      <aside class="sidebar">
        <div class="sidebar-nav">
          <ul>
            <li><%= link_to "Artists", artists_path %></li>
            <li><%= link_to "Events", events_path %></li>
          </ul>
        </div>
        <p><%= render 'searches/searchpop' %></p></br>
        <p><%= render 'layouts/artists' %></p>
      </aside>

      <aside class="rightbar">
        <div class="images">
          <% artist.arts.each do |art| %>
          <li>
            <div class="img"><a href="<%= art.file_url.to_s %>" title="<%= art.title %></br><%= art.subline %>, <%= art.width %> x <%= art.height %>, <%= art.date_of_origin %>"><img src="<%= art.file_url if art.file? %>" width="150" title="<%= art.title %>"/></a></div>
          </li>
          <% end %>
        </div>
      </aside>
      <% end %>

  <% else %>

    <%= render :partial => 'artist_info', locals: {artist: @artist} %>

    <aside class="sidebar">  
      <p><%= render 'searches/searchpop' %></p></br>
      <p><%= render 'layouts/artists' %></p>
    </aside>

    <%= render :partial => 'rightbar_art', locals: {artist: @artist} %>

  <% end %>

</body>
