<div class="container">
  <div class="content">
    
    <div class="adbox">
      <% @ads.each do |ad| %>
      <li>
        <% if ad.artist %>
          <%= link_to image_tag(ad.file_url), ad.artist %><%= ad.description %>
        <% else %>
          <%= link_to image_tag(ad.file_url), ad.event %><%= ad.description %>
        <% end %>
      </li>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/sidebar_artists' %>


<aside class="rightbar">
  <div class="ribbon-wrapper-right">
    <div class="ribbon-front-right">
      News-Feed
    </div>
    <div class="ribbon-edge-topleft-right"></div>
    <div class="ribbon-edge-topright-right"></div>
    <div class="ribbon-edge-bottomleft-right"></div>
    <div class="ribbon-edge-bottomright-right"></div>
    <div class="ribbon-back-left-right"></div>
    <div class="ribbon-back-right-right"></div>
  </div>
  <div class="images">
    <% @shouts.each do |shout| %>
    <h2>News-Feed</h2>
      <li>
        <%= shout.message %>
        <hr class="style-two">
      </li>
    <% end %>
  </div>
</aside>

  
