<div class="container">
  <div class="content">  
  	<p>
  	  <% @events.each do |event| %>
  		<h1><%= event.artist.fullname %> <%= event.start_date.to_s(:long) %> - <%= event.end_date.to_s(:long) %></h1>
  		<%= event.name %>, <%= event.city %><br>
  		Opening: <%= event.opening %><br>
  		<%= link_to event.url, url_with_protocol(event.url) %>
  	  <% end %>
  	</p>
  </div>
</div>

<%= render 'layouts/sidebar_events' %>
