<div class="container">
    <div class="content">  
      <h1><%= @event.name %></h1> <%= @event.start_date.to_s(:short) %> - <%= @event.end_date.to_s(:short) %></br>
      
        <p><%= simple_format @event.description %></p>
      
        <%= @event.event_address %></br>
  
    </div>
  </div>

  <aside class="sidebar">
    <p><%= render 'events' %></p>
  </aside>