<div class="container">
  <div class="content">  
    <h1><%= @event.name.upcase %></h1> 
    
    <p>Participating artists: <%= @event.artist %></p>

    <p><%= simple_format @event.description %></p>

    <div class="adress">
  	  <p><%= @event.name.upcase %></p>
  	  <p><a href="<%= url_with_protocol(@event.url) %>" target="_blank"><%= @event.url %></a></p>
      <p><%= mail_to @event.email %></p>
  	  <p><%= @event.event_address %></p>
	  </div>

  
  </div>
</div>


<aside class="sidebar">
  <p><%= render 'events' %></p>
</aside>