<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @art.title %>
</p>

<p>
  <b>Subline:</b>
  <%= @art.subline %>
</p>

<p>
  <b>Height:</b>
  <%= @art.height %>
</p>

<p>
  <b>Width:</b>
  <%= @art.width %>
</p>

<p>
  <b>Source:</b>
  <%= @art.source %>
</p>

<p>
  <b>Date of origin:</b>
  <%= @art.date_of_origin %>
</p>

<p>
  <b>File:</b>
  <%= @art.file %>
</p>

<p>
  <b>Attachable:</b>
  <%= @art.attachable %>
</p>


<%= link_to 'Edit', edit_art_path(@art) %> |
<%= link_to 'Back', arts_path %>
