<div id="nav">
  <ul>
    <li><%= link_to_unless_current "Home", page_path("home") %></li>
    <li><%= link_to_unless_current "Artists", artists_path %></li>
    <li><%= link_to_unless_current "Events", page_path("events") %></li>
    <li><%= link_to_unless_current "About", page_path("about") %></li>
    <li><%= link_to_unless_current "Facebook", '#' %></li>
  </ul>
</div>
