<!DOCTYPE html>
<html>
<head>
  <title>Kit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="wrapper">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <section class="middle">

	    <%= yield %>
      <%= yield :scripts %>
    
    </section> 
  
  </div>
  
    <footer class="footer">
      <div class="navigation">
        <%= render 'layouts/navigation' %>
      </div> 
      <%= render 'layouts/footer' %>
      <%= render 'layouts/footer_user_nav' %> 
    </footer>
  
</body>
</html>
