<!DOCTYPE html>
<html>
<head>
  <title>Kit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults,"nested_form" %>
  <%= csrf_meta_tags %>

  <script src = "/assets/js-global/FancyZoom.js"></script>
  <script src = "/assets/js-global/FancyZoomHTML.js"></script>
  <script src = "/assets/popbox.js"></script>
  <script src = "/assets/popbox.min.js"></script>
</head>
<body>
  <div class="wrapper">
    
    <div class="navigation">
      <%= render 'layouts/navigation' %>
    </div>
    
    <section class="middle">

	    <%= yield %>
      <%= yield :scripts %>
    
    </section> 
  
  </div>
  
    <footer class="footer">  
      <%= render 'layouts/footer' %>
      <%= render 'layouts/footer_user_nav' %> 
    </footer>
  
</body>
</html>
